<form <%= bindForm({
    model: model,
    optionsMap: {
        'customer.name.title': titles,
        'price.extras': model.attr('webExtras'),
        'customer.address.country': countries
    },
    defaultLabel: defaultLabel,
    display: display,
    customSelect: customSelect
}) %> >

    <fieldset>
        <legend>Name</legend>
        <input name="customer.name.title" type="select" data-label="Title" data-placeholder="Title" />
        <input name="customer.name.firstName" data-label="First Name" />
        <input name="customer.name.surname" data-label="Surname" />
    </fieldset>
    <fieldset>
        <legend>Address</legend>
        <input name="customer.address.addr1" data-label="Address Line 1" />
        <input name="customer.address.addr2" data-label="Address Line 2" />
        <input name="customer.address.town" data-label="Town/City" />
        <input name="customer.address.county" data-label="County" />
        <input name="customer.address.postcode" data-label="Postcode" />
        <input name="customer.address.country" type="select" data-value-attr="id" data-text-attr="name" data-label="Country" />
    </fieldset>
    <fieldset>
        <legend>Contact Information</legend>
        <input name="customer.daytimePhone" data-label="Daytime phone" />
        <input name="customer.eveningPhone" data-label="Evening phone" />
        <input name="customer.mobilePhone" data-label="Mobile phone" />
        <input name="customer.email" data-label="Email" />
        <input name="customer.emailConf" data-label="Confirm Email" />
    </fieldset>

</form>

<div>
    <form>
        <fieldset>
            <legend>Party information</legend>
            <div <%= (el) -> el.bindForm({ model: model, debounceDelay: 100 }) %> >
                <input name="adults" type="number" data-placeholder="Adults" data-label="Number of adults" data-min="0" />
                <input name="children" type="number" data-placeholder="Children" data-label="Number of children" data-min="0" />
                <input name="infants" type="number" data-placeholder="Children" data-label="Number of infants" data-min="0" />
            </div>
                <fieldset class="party-list">
                    <legend>Party member details</legend>

                    <% list( model.attr('partyDetailsTypes'), function( types, title ) { %>
                        <legend><%= pretifyString( title, true ) %></legend>

                        <% 
                            list( types, function( traveller ) {
                                var agesForThisType = ages[ traveller.attr('type') + 'Ages' ];
                        %>
                            <div
                                <%= appendTemplate( views[ traveller.attr('type') ] || views.adult , {
                                    'model': traveller,
                                    'optionsMap': {
                                        'title': titles,
                                        'age': agesForThisType
                                    },
                                    'defaultLabel': true,
                                    'customSelect': customSelect
                                }) %>
                                class="<%= traveller.type %> traveller"
                            ></div>
                        <% }); %>

                    <% }); %>

                </fieldset>
        </fieldset>
    </form>

    <form <%= bindForm({
        model: model,
        optionsMap: {
            'price.extras': model.attr('webExtras'),
            'customer.source': sources
        },
        display: display,
        customSelect: customSelect
    }) %> >
        <fieldset>
            <legend>Extras</legend>
            <input name="price.extras" type="modelMultiCheckbox" data-value-attr="code" data-text-attr="description" data-label="Extras" />
            <input name="pets" type="number" data-min="0" data-label="Pets" />
        </fieldset>

        <fieldset>
            <legend>Other information</legend>
            <input name="customer.emailOptIn" type="checkbox" data-label="Would you like to receieve our newsletter?" />
            <input name="customer.source" data-label="Where did you hear about us?" type="select" data-value-attr="code" data-text-attr="description" />
            <input name="customer.which" data-label="If other" />
        </fieldset>

        <button type="submit" <%= next() %> >Proceed to payment</button>
    </form>

</div>

