<form <%= bindForm({
    model: model,
    optionsMap: {
        'customer.name.title': titles,
        'price.extras': model.attr('webExtras'),
        'customer.address.country': countries
    },
    defaultLabel: defaultLabel,
    display: display,
    customSelect: customSelect
}) %> >

    <fieldset>
        <legend>Lead Name</legend>
        <% if( displayTravellerCheckboxLocation('customerName') ) { %>
            <input name="customerIsPrimaryTraveller" type="checkbox" data-label="I am the primary traveller" />
        <% } %>
        <input name="customer.name.title" type="select" data-label="Title" data-placeholder="Title" />
        <input name="customer.name.firstName" data-label="Initial" data-maxlength="1" />
        <input name="customer.name.surname" data-label="Surname" />
    </fieldset>
    <fieldset>
        <legend>Address</legend>
        <input name="customer.address.addr1" data-maxlength="20" data-label="Address Line 1"  />
        <input name="customer.address.addr2" data-maxlength="20" data-label="Address Line 2" />
        <input name="customer.address.town" data-label="Town/City" data-maxlength="20" />
        <input name="customer.address.county" data-label="County" data-maxlength="20" />
        <input name="customer.address.postcode" data-label="Postcode" data-maxlength="8" />
        <input name="customer.address.country" type="select" data-value-attr="id" data-text-attr="name" data-label="Country" data-placeholder="Country" />
    </fieldset>
    <fieldset>
        <legend>Contact Information</legend>
        <input name="customer.daytimePhone" data-label="Daytime phone" />
        <input name="customer.eveningPhone" data-label="Evening phone" />
        <input name="customer.mobilePhone" data-label="Mobile phone" />
        <input name="customer.email" data-label="Email" />
        <input name="customer.emailConf" data-label="Confirm Email" />
    </fieldset>

</form>

<div>
    <form <%= bindForm({
        model: model,
        debounceDelay: 100
    }) %>>
        <fieldset>
            <legend>Party information</legend>
            <input name="adults" type="number" data-placeholder="Adults" data-label="Number of adults" data-min="1" />
            <input name="children" type="number" data-placeholder="Children" data-label="Number of children" data-min="0" />
            <input name="infants" type="number" data-placeholder="Infants" data-label="Number of infants" data-min="0" />
        </fieldset>
    </form>

    <fieldset class="party-list">
        <legend>Party member details</legend>

        <% if( displayTravellerCheckboxLocation('partyDetails') ) { %>
            <form <%= bindForm({
                model: model
            }) %>>
                <input name="customerIsPrimaryTraveller" type="checkbox" data-label="I am the primary traveller" />
            </form>
        <% } %>

        <% list( model.attr('partyDetailsTypes'), function( types, title ) { %>
            <legend><%= pretifyString( title, true ) %></legend>
            <%
                list( types, function( traveller, i ) {
                    var agesForThisType = ages[ traveller.attr('type') + 'Ages' ];
                    var disabled = {};
                    var pt = traveller === model.attr('primaryTraveller');
                    if( pt ) {
                        disabled = disablePrimaryTrav;
                    }
            %>
                <div
                    <%= appendTemplate( views[ traveller.attr('type') ] || views.adult , {
                        'model': traveller,
                        'optionsMap': {
                            'title': titles,
                            'age': agesForThisType
                        },
                        'defaultLabel': true,
                        'customSelect': customSelect,
                        disabled: disabled
                    }) %>
                    class="<%= traveller.type %> traveller <%== pt ? 'primary' : '' %> <%== model.attr( 'customerIsPrimaryTraveller' ) ? 'is-customer' : '' %>"
                ></div>
            <% }); %>
        <% }); %>

    </fieldset>

    <form <%= bindForm({
        model: model,
        optionsMap: {
            'price.extras': model.attr('webExtras'),
            'customer.source': sources,
            'payLater': [
              [ 'false', deferPayment.labels.paynow ],
              [ 'true', deferPayment.labels.paylater ]
            ],
            'showPayLater': deferPayment.show,
            'autopayment': [
              [ 'true', autoPayment.labels.autotakebalance ],
              [ 'false', autoPayment.labels.noautotakebalance ]
            ]
        },
        display: display,
        customSelect: customSelect,
        validations: false,
        debounceDelay: 300
    }) %> >
        <fieldset <%== model.attr('canBookExtras') ? '' : 'style="display:none;"' %>>
            <legend>Extras</legend>
            <input name="price.extras" type="mixedCheckboxSelect" data-value-attr="code" data-text-attr="description" />
            <input name="pets" type="number" data-min="0" data-label="Pets" />
        </fieldset>

        <fieldset <%== notes.show ? '' : 'style="display:none;"' %>>
            <legend><%= notes.title %></legend>
            <div><%== notes.helptext %></div>
            <input name="notes" data-label="" data-placeholder="<%= notes.placeholder %>" type="textarea" data-type="textarea" />
        </fieldset>

        <fieldset>
            <legend>Other information</legend>
            <input name="customer.emailOptIn" type="checkbox" data-label="Would you like to receive our newsletter?" />
            <input name="customer.source" data-label="Where did you hear about us?" type="select" data-value-attr="code" data-text-attr="description" />
            <input name="customer.which" data-label="If other" />

            <div <%== voucher.show ? '' : 'style="display:none;"' %>>
                <input
                  name="voucher"
                  data-label="<%= voucher.helptext %>"
                  placeholder="<%= voucher.placeholder %>"
                />
            </div>

            <div <%== deferPayment.show ? '' : 'style="display:none;"' %>>
              <input name="payLater" type="radio" />
            </div>

            <div class="autopayment" <%== autoPayment.show ? '' : 'style="display:none;"' %>>
                 <label><%== autoPayment.label %></label>
                 <input name="autopayment" type="radio" />
              <span class='explanation'>An email will be sent to you shortly before payment is taken as a reminder</span>
            </div>
        </fieldset>

        <fieldset>
            <legend>Terms and conditions</legend>
            <input name="customer.tnc" type="checkbox" data-label="" />
            Please tick the box to agree to our <a href="<%= tncUrl %>" target="_blank">Terms and Conditions</a>.
        </fieldset>

        <button type="submit" <%= next() %>>Proceed</button>
    </form>

</div>

