<select
    id="<%= id %>"
    name="<%= attrName %>"
    data-type="<%= type %>"
    data-label="<%= label %>"
    class="<%= classes %>"
    <%= (el) -> el.tooltip( tooltipOptions ) %>
>
    <%
        var value, text;
        if( this.placeholder ) {
            value = this.placeholder[0] || '';
            text  = this.placeholder[1] || 'Please select';
    %>
        <option
            value="<%= value %>"
            <%= ( model.attr( attrName ) === value || !value ) ? 'selected="selected"' : '' %>
        >
            <%= text %>
        </option>
    <% } %>
    <% list( optionsMap.attr( attrName ), function( element ) {
        value = element.attr( valueAttr ) || element.attr( textAttr ),
        text = element.attr( textAttr ) || element.attr( valueAttr );
    %>
        <option
            value="<%= value %>"
            <%= ( value === model.attr( attrName ) ) ? 'selected="selected"' : '' %>
        >
            <%= sub( text,  this ) %>
        </option>
    <% }) %>
</select>