<table width="100%">
    <tbody>
        <thead></thead>
        <% list( ['basicPrice'], function( item ) { %>
            <tr>
                <td><%= pretifyString( item, true ) %></td>
                <td><%= money( price.attr( item ) ) %></td>
            </tr>
        <% }); %>
        <% if( modelSize( price.attr('extras') ) ) { %>
            <tr class="extra-title"><td width="80%">Extras: </td></tr>
            <% list( price.attr('extras'), function( extra ) { %>
                <% if( extra.attr('code') !== 'CCC' ) { %>
                    <tr class="extra">
                        <td><%= extra.attr('description') %> <%= extra.attr('quantity') > 1 ? '(x' + extra.attr('quantity') + ')' : '' %></td>
                        <td><%= extra.attr('total') > 0 ? money( extra.attr('total') ) : 'free' %></td>
                    </tr>
                <% } %>
            <% }); %>
        <% } %>
				<tr class='subtotal'>
				  <td>Holiday cost</td>
					<td><%= money( price.attr('totalPrice') ) %></td>
				</tr>
				<tr>
					<td>Refundable security deposit</td>
					<td><%= money( price.attr('securityDeposit') ) %></td>
				</tr>
        <tr class="total">
            <td>Payment due now</td>
            <td><%= money( price.attr('paymentDue') ) %></td>
        </tr>
    </tbody>
</table>
