<table width="100%">
    <tbody>
        <thead></thead>
        <% list( ['basicPrice', 'securityDeposit'], function( item ) { %>
            <tr>
                <td><%= pretifyString( item, true ) %></td>
                <td><%= money( price.attr( item ) ) %></td>
            </tr>
        <% }); %>
        <% if( modelSize( price.attr('extras') ) ) { %>
            <tr class="extra-title"><td width="100">Extras: </td></tr>
            <% list( price.attr('extras'), function( extra ) { %>
                <tr class="extra">
                    <td><%= extra.attr('description') %> <%= extra.attr('quantity') > 1 ? '(x' + extra.attr('quantity') + ')' : '' %></td>
                    <td><%= extra.attr('total') > 0 ? money( extra.attr('total') ) : 'free' %></td>
                </tr>
            <% }); %>
        <% } %>
        <tr>
            <td>Holiday Cost</td>
            <td><%= money( price.attr('displayPrice') ) %></td>
        </tr>
        <tr class="total">
            <td>Total Due</td>
            <td><%= money( price.attr('paymentDue') ) %></td>
        </tr>
    </tbody>
</table>
