<%# Fragment %>
<!-- Fragment -->
<h2>Stay Summary</h2>
<div>
	<dl>
		<dt>Booking ID:</dt>
		<dd><%= booking.attr('bookingId') %></dd>
		<dt>Property reference:</dt>
		<dd><%= booking.attr('fromDate') ? booking.attr('fromDate').format('DD-MM-YYYY') : '' %></dd>
		<dt>Depart:</dt>
		<dd><%= booking.attr('toDate') ? booking.attr('toDate').format('DD-MM-YYYY') : '' %></dd>
	</dl>

	<% if( booking.attr('price') ) { %>
	    <p>You will be paying: <%= money( booking.attr('price.displayPrice') ) %></p>
	<% } %>

	<a class="button" href="<%= url({'page': 'calendar'}) %>" class="restart">Start again</a>

	<div role="status"></div>
</div>
