<%# Fragment %>
<!-- Fragment -->
<h2>Booking details</h2>
<div>
    <dl>
        <dt>Property name:</dt>
        <dd><%= booking.attr('propertyData') ? booking.attr('propertyData').attr('name') : '' %></dd>
        <dt>Arrive:</dt>
        <dd><%= booking.attr('fromDate') ? booking.attr('fromDate').format('DD-MM-YYYY') : '' %></dd>
        <dt>Depart:</dt>
        <dd><%= booking.attr('toDate') ? booking.attr('toDate').format('DD-MM-YYYY') : '' %></dd>
        <dt>Nights:</dt>
        <dd><%= nights( booking.attr('fromDate'), booking.attr('toDate') ) %></dd>
    </dl>
    <% if( !booking.attr('confirmed') ) { %>
      <% if( booking.attr('price') ) { %>
          <div <%== appendTemplate(views.pricedTable, {
              price: booking.attr('price'),
              views: views
          }) %>></div>
      <% } %>
    <% }  %>

    <a class="button" href="<%= url({'page': 'calendar'}) %>" class="restart">Start again</a>

    <div role="status"></div>
</div>
