<%# Fragment %>
<!-- Fragment -->
<h2>Stay Summary</h2>
<span>Booking ID: <%= booking.attr('bookingId') %></span>
<br>
<span>Property reference: <%= booking.attr('propertyRef') %>_<%= booking.attr('brandCode') %></span>
<br>
<span>Arrive: <%= booking.attr('fromDate') ? booking.attr('fromDate').format('DD-MM-YYYY') : '' %></span>
<br>
<span>Depart: <%= booking.attr('toDate') ? booking.attr('toDate').format('DD-MM-YYYY') : '' %></span>
<br>
<% if( booking.attr('price') ) { %>
    <span>Price: <%= money( booking.attr('price.totalPrice') ) %></span>

    <br>
  	<a href=""> Next </a>
<% } %>
