<div>

  <h2>Booking confirmed</h2>

  <p><%== booking.attr('confirmationMessage') || '' %></p>

  <div class="payment-details">
    <dl>
      <% if( booking.attr('price') ) { %>
      <dt>Total Price</dt>
      <dd><%= money( booking.attr('price').attr('totalPrice') ) %></dd>
      <dt>Security Deposit</dt>
      <dd><%= money( booking.attr('price').attr('securityDeposit') ) %></dd>
      <dt>
      Outstanding balance
      <% if( booking.attr('price').attr('paymentType') === 'deposit' ) { %>
      ( due on <%= booking.attr('totalDueOn').format('DD/MM/YYYY') %> )
      <% } %>
      </dt>
      <dd><%= money( booking.attr('price').attr('outstandingBalance') ) %></dd>
      <% } %>
    </dl>

    <% if ( booking.attr('payLater') ) { %>
      <h3><%= deferPayment.labels.confirmationMessage %></h3>
    <% } else { %>
      <h3>Card details:</h3>
      <dl>
        <% list( booking.attr('payments'), function( payment ) { %>
        <dt>Payment type</dt>
        <dd><%= payment.attr('cardType') %></dd>
        <dt>Card number</dt>
        <dd>XXXX-XXXX-XXXX-<%= payment.attr('last4Digits') %></dd>
        <dt>Amount paid</dt>
        <dd><%= money( payment.attr('amount') ) %></dd>
        <dd>(Includes credit card charge where applicable)</dd>
        <% }); %>
      </dl>
    <% } %>
  </div>

</div>
