<div>

	<h2>Booking confirmed</h2>

	<dl>
		<% if( booking.attr('price') ) { %>
			<dt>Total price</dt>
			<dd><%= money( booking.attr('price').attr('totalPrice') ) %></dd>
			<dt>Outstanding balance</dt>
			<dd><%= money( booking.attr('price').attr('outstandingBalance') ) %></dd>
		<% } %>
	</dl>
	
	<p><%= booking.attr('confirmationMessage') || '' %></p>

	<h3>Payments:</h3>
	
	<% list( booking.attr('payments'), function( payment ) { %>
		<p>Payment type: <%= payment.attr('cardType') %></p>
		<p>XXXX-XXXX-XXXX-<%= payment.attr('last4Digits') %></p>
		<p>Amount payed: <%= money( payment.attr('amount') ) %></p>
	<% }); %>

</div>
